<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
    <meta charset="utf-8" />
    <title>terms_stat</title>
</head>

<body>
 
 <div>
    <div py:for="key in terms_data">
        ${terms_data[key]['type']}.${terms_data[key]['text']} occurs ${terms_data[key]['count']['occur_count']} times 
        in ${terms_data[key]['count']['cuc_count']} cucs and owned by ${terms_data[key]['count']['owner_count']} contributors.
    </div>
 </div>

</body>
    
</html>
