<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
    <meta charset="utf-8" />
    <title>Directed Graph Editor</title>
    <link rel="stylesheet" href="/css/app.css" />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascript/dragdealer.js"></script>
    <link rel="stylesheet" href="/css/sankey.css" />
    <script>
        var sizecorrection = Math.max(0, 220 - parseInt(window.innerWidth * 0.2));
    </script>
    <script>
        var densityslider = new Dragdealer("pslider", {
                                    x: 0.5,
                                    steps: 5,
                                    snap: true,
                                    callback: function(a, b) {
                                        padding = paddingmultiplier * (1 - a) + 3;
                                        draw()
                                    }
                                });
    </script>
</head>

<body>
 
<div id="outer_container">
    
<div id="titlebar" style="display:none;">
    <span id="titletext" class="pagetitle">Sankey Diagram</span>
</div>
    
<div id="content" style="opacity:1;">
        <!--SANKEY DIAGRAM CONTROLS-->
        <div id="sourcecontrol" style="float:right; margin-right:10px; width:20%; margin-top:10px; min-width:220px; border-left:solid; border-color:#EEE; height:98%; padding-left:20px;line-height:26px;z-index:600000;">
			
            <!--LOAD-->
            <!--
			<div id="load" style="position:fixed;float:left;width:inherit;height:100%;background:#fff;color:#000;opacity:0;margin-top:0px;margin-left:0px;z-index:-1;">
				<div>Please paste the Sankey string below:</div>
				<textarea id="loadtext" style="margin-top:20px;margin-bottom:20px;width:97%;height:50%;"></textarea> 
				<div><button onclick="loadsubmit();">Done</button></div>
			</div>
			-->
			<!--SAVE-->
            <!--
			<div id="save" style="position:fixed;float:left;width:inherit;height:100%;background:#fff;color:#000;opacity:0;margin-top:0px;margin-left:0px;z-index:-1;">
				<div>Please copy and save the text below to load later:</div>
				<textarea id="savetext" style="margin-top:20px;margin-bottom:20px;width:97%;height:50%;"></textarea> 
				<div><button onclick="d3.select('#save').transition().style('opacity',0).style('z-index',-1)">Done</button></div>
			</div>
			-->
			<!--INCREMENTAL-->
			
            <div style="display:none;overflow: hidden;white-space: nowrap;"><span style="float:left;">Move nodes:</span>
                <div style="float:right; padding-right:0; margin-right:0;">
                    <div style="font-size:20px;font-weight:bold;line-height:10px;">
                        <input title="Enable horizontal node dragging" type="checkbox" id="xmove" />
                        <label for="xmove">↔</label>
                        <img alt="" style="width:5px;height:0px;" />
                        <input title="Enable vertical node dragging" type="checkbox" id="ymove" checked="true" />
                        <label for="ymove">↕</label>
                    </div>
                </div>
            </div>
            <div style="display:none;overflow: hidden;white-space: nowrap;"><span style="float:left;">Density:</span>
                <div style="float:right;">
                    <div id="pslider" title="Drag slider to set diagram node padding" class="dragdealer" style="margin-top:2px;margin-left:-130px;width:130px; height:18px; position:absolute;">
                        <div class="handle orange-bar">↔
                            <script>
                                var densityslider = new Dragdealer("pslider", {
                                    x: 0.5,
                                    steps: 5,
                                    snap: true,
                                    callback: function(a, b) {
                                        padding = paddingmultiplier * (1 - a) + 3;
                                        draw()
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:none;overflow: hidden;white-space: nowrap;"><span style="float:left;">Opacity:</span>
                <div style="float:right;">
                    <div id="oslider" title="Drag slider to set diagram flow opacities" class="dragdealer" style="margin-top:2px;margin-left:-130px;width:130px; height:18px; position:absolute;">
                        <div class="handle orange-bar">↔
                            <script>
                                new Dragdealer("oslider", {
                                    x: 0.25,
                                    steps: 5,
                                    snap: true,
                                    callback: function(a, b) {
                                        lowopacity = 0.1 + 0.8 * a;
                                        draw()
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
			<div style="display:none;overflow: hidden;white-space: nowrap;">
				<div>
					<button onclick="draw()" style="width:100%; min-width:220px; margin-top:20px;margin-bottom:20px;font-size:20px;">Draw Sankey</button>
				</div>
				<div style="margin-bottom:20px;display:block;overflow: hidden;white-space: nowrap;">
				<span><button onclick="load()" style="width:45%; min-width:100px; float:left;">Load</button></span>
				<span><button onclick="save()" style="width:45%; min-width:100px; float:right;">Save</button></span>
				</div>
				<div style="display:block;overflow: hidden;white-space: nowrap;">
				<span><button onclick="addnode()" style="width:45%; min-width:100px; float:left;">Add new node</button></span>
				<span><button onclick="removenode()" style="width:45%; min-width:100px; float:right;">Remove node</button></span>
				</div>
                <!--
				<div class="likeform" id="nodes-form">
					<div><input type="text" value="Oil"/></div>
					<div><input type="text" value="Natural Gas" /></div>
					<div><input type="text" value="Coal"/></div>
					<div><input type="text" value="Fossil Fuels"/></div>
					<div><input type="text" value="Electricity"/></div>
					<div><input type="text" value="Energy"/></div>
				</div>
                -->
                <div class="likeform" id="nodes-form">
                    <div py:for="anode in nodes"><input type="text" value="${anode['text']}"/></div>
                </div>
			</div>
			<div style="display:none;overflow: hidden;white-space: nowrap;">
				<div style="display:block;overflow: hidden;white-space: nowrap;">
				<span><button onclick="addlink()" style="width:45%; min-width:100px; float:left;">Add new link</button></span>
				<span><button onclick="removelink()" style="width:45%; min-width:100px; float:right;">Remove link</button></span>
				</div>
                <!--
				<div class="likeform" id="links-form">
					<div><input type="text" value="0,3,15"/></div>
					<div><input type="text" value="1,3,20"/></div>
					<div><input type="text" value="2,3,25"/></div>
					<div><input type="text" value="2,4,25"/></div>
					<div><input type="text" value="3,5,60"/></div>
					<div><input type="text" value="4,5,25"/></div>
					<div><input type="text" value="4,4,5"/></div>
				</div>
                -->
                
                <div class="likeform" id="links-form">
                    <div py:for="aedge in edges">
                        <input type="text" value="${aedge['source-index']},${aedge['target-index']},${aedge['count']}"/>
                    </div>
                </div>
             
            </div>
        </div>
       
        <!--SANKEY DIAGRAM-->

        <div id="chart" style="z-index:5;"></div>

        <!--SCRIPTS-->

        <script src="/javascript/sankey.js"></script>
        <script src="/javascript/food.js"></script>
	
    </div>

</div>
    

</body>
    
</html>
